<!--
 * @Date: 2021-08-13 22:32:08
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 21:33:21
 * @Description: 用户列表
-->
<template>
    <div class="user-list">
        <div class="user-card-list">
            <div
                class="user-card-item"
                v-for="(item, index) in userList"
                :key="index"
            >
                <div>
                    昵称: <span class="nick-name">{{ item.nickName }}</span>
                </div>
                <div>
                    年龄: <span class="age">{{ item.age }}</span>
                </div>
                <div>
                    国籍: <span class="nation">{{ item.nationName }}</span>
                </div>
                <div>
                    职业: <span class="job">{{ item.jobName }}</span>
                </div>
                <div>
                    宣言:
                    <span class="declaration">{{ item.declaration }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getUserInfo } from '@/api/user';
export default {
    data() {
        return {
            userList: [],
        };
    },
    mounted() {
        this.getUserList();
    },
    methods: {
        async getUserList() {
            const res = await getUserInfo();
            const { result } = res.data;
            this.userList = result;
            console.log(this.userList);
        },
    },
};
</script>

<style scoped lang="less">
.user-list {
    .user-card-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .user-card-item {
            width: calc(50% - 5px);
            min-height: 130px;
            padding: 10px;
            border-radius: 6px;
            background: #fff;
            margin-bottom: 10px;
            .nick-name {
                font-size: 16px;
                font-weight: 600;
                color: darkcyan;
            }
            .age {
                color: darkseagreen;
            }
            .nation {
                color: goldenrod;
            }
            .job {
                color: darksalmon;
            }
            .declaration {
                color: teal;
            }

            div {
                margin-bottom: 5px;
            }
        }
    }
}
@media screen and (max-width: 998px) {
    .user-list {
        .user-card-list {
            .user-card-item {
                width: 100%;
            }
        }
    }
}
</style>
