<!--
 * @Date: 2021-07-31 15:27:04
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 01:00:02
 * @Description: 用户中心
-->
<template>
    <div class="user-center">
        用户中心
    </div>
</template>

<script>
import { getUserInfo } from '@/api/user';
export default {
    data() {
        return {
            userList: [],
        };
    },
    mounted() {
        this.getUserList();
    },
    methods: {
        async getUserList() {
            const res = await getUserInfo();
        },
    },
};
</script>

<style></style>
