<!--
 * @Date: 2021-07-31 15:32:30
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-07-31 15:32:41
 * @Description: 404
-->
<template>
  <div>404</div>
</template>

<script>
export default {

}
</script>

<style>

</style>