<!--
 * @Description: 
 * @Author: mingxiangxiong
 * @Date: 2021-02-10 17:46:27
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 18:54:46
-->
<template>
  <div class="login" @keydown.enter="enterLogin">
    <div class="form">
      <div class="form-box">
        <h1>欢迎登录</h1>
        <div class="form-input account">
          <input type="text" @input="inputAccount" placeholder="请输入账号" :class="{ 'red-border': isShowAccount }" v-model="account" />
          <p v-show="isShowAccount" v-text="accountTips"></p>
        </div>
        <div class="form-input password">
          <input type="password" @input="inputPassword" :class="{ 'red-border': isShowPassword }" placeholder="请输入密码" v-model="password" />
          <p v-show="isShowPassword" v-text="passwordTips"></p>
        </div>
        <div class="btn" @click="login">登录</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShowAccount: false, //控制显示账号输入框的提示文本
      accountTips: '',
      isShowPassword: false, //控制显示密码输入框的提示文本
      passwordTips: '',
      account: '18114646681',
      password: 'xiong123456',
    }
  },
  methods: {
    login() {
      if (!this.account && !this.password) {
        this.isShowAccount = true
        this.accountTips = '请输入账号'
        this.isShowPassword = true
        this.passwordTips = '请输入密码'
        return
      }
      if (!this.account) {
        this.isShowAccount = true
        this.accountTips = '请输入账号'
        return
      }
      if (!this.password) {
        this.isShowPassword = true
        this.passwordTips = '请输入密码'
        return
      }
      if (this.account && this.password) {
        if (this.account !== '18114646681' && this.password !== 'xiong123456') {
          this.isShowAccount = true
          this.accountTips = '账号错误'
          this.isShowPassword = true
          this.passwordTips = '密码错误'
          return
        }
        if (this.account !== '18114646681') {
          this.isShowAccount = true
          this.accountTips = '账号错误'
          return
        }
        if (this.password !== 'xiong123456') {
          this.isShowPassword = true
          this.passwordTips = '密码错误'
          return
        }
        if (this.account == '18114646681' && this.password == 'xiong123456') {
          this.isShowPassword = false
          this.passwordTips = ''
          this.isShowAccount = false
          this.accountTips = ''
          const XmXtoken = 'SSDWETFDASD-WEQWESDSDFK12EQW12-EQWE'
          sessionStorage.setItem('XmXtoken', JSON.stringify(XmXtoken))
          this.$Message.success('登陆成功！')
          setTimeout(() => {
            this.$router.push('/')
          }, 1500)
        }
      }
    },
    inputAccount() {
      this.isShowAccount = false
      this.accountTips = ''
    },
    inputPassword() {
      this.isShowPassword = false
      this.passwordTips = ''
    },
    enterLogin() {
      this.login()
    },
  },
}
</script>

<style lang="less" scoped>
.login {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(#7de2fc, #b9b6e5);
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(158, 158, 158, 0.4);
    transform: translate(-50%, -50%);
    .form-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      h1 {
        text-align: center;
      }
      .form-input {
        padding: 0 50px;
        margin: 30px 0;
        p {
          color: red;
          font-weight: 300;
        }
        input {
          border: 2px solid #8cc5ff;
          border-radius: 6px;
          outline: none;
          width: 100%;
          height: 40px;
          padding: 0 10px;
          margin: 0 auto;
        }
        .red-border {
          border: 2px solid rgb(255, 131, 131);
        }
        input::-webkit-input-placeholder {
          color: #999;
        }
      }
      .btn {
        width: 80%;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        background: #409eff;
      }
    }
  }
}
</style>
