* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
li {
    list-style: none;
}

/*修改滚动条样式*/
.scorllbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /**/
}
.scorllbar::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}
.scorllbar::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}
.scorllbar::-webkit-scrollbar-thumb:hover {
    background: #747474;
}
