<!--
 * @Date: 2021-07-31 14:19:54
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 21:19:19
 * @Description: 
-->
<template>
    <div class="header">
        <Breadcrumb>
            <BreadcrumbItem>首页</BreadcrumbItem>
            <BreadcrumbItem>{{ $route.meta.title || "欢迎您" }}</BreadcrumbItem>
        </Breadcrumb>
        <div class="user">
            <div class="userPic">
                <img src="../assets/pic.jpg" alt="" />
            </div>
            <div class="name">黄夏温</div>
            <div class="exit" @click="exit">退出登录</div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        };
    },
    methods: {
        exit() {
            let res = window.confirm('是否退出当前账号?');
            if (res) {
                sessionStorage.removeItem('XmXtoken');
                this.$router.push('/login');
            }
        },
    },
};
</script>

<style lang="less" scoped>
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    background: #3690f1e7;
    box-shadow: 2px 5px 20px 0px rgb(206, 206, 206);
  /deep/  .ivu-breadcrumb-item-link {
        font-size: 15px;
        color: #fff;
    }
    .ivu-breadcrumb-item-separator {
        color: #bfbec0;
    }
    .user {
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .userPic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 50px;
                height: 50px;
            }
        }
        .name,
        .exit {
            font-size: 15px;
            color: #fff;
        }
        .name {
            margin-left: 10px;
        }
        .exit {
            margin-left: 20px;
            height: 100%;
            line-height: 80px;
            padding: 0 20px;
            cursor: pointer;
            transition: all 0.6s;
            &:hover {
                background: #fff;
                color: #4db9eb;
            }
        }
    }
}
</style>
