<!--
 * @Date: 2021-07-31 14:11:51
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 18:48:17
 * @Description: 侧边栏组件
-->
<template>
    <div class="left">
        <div class="logo">
            <h1>BearXmX2333</h1>
        </div>
        <div class="menu">
            <div
                class="menu-list"
                v-for="(item, index) in menuList"
                :key="index"
            >
                <div
                    class="menu-item"
                    :class="{
                        'add-bgc':
                            $route.path == item.routePath ||
                            $route.path.indexOf(item.routePath) > -1,
                    }"
                    @click="toggleRouter(item, index)"
                >
                    <Icon type="md-aperture" v-if="index == 0" />
                    <Icon type="ios-appstore" v-else-if="index == 1" />
                    <Icon type="ios-body" v-else-if="index == 2" />
                    <span>{{ item.routeName }}</span>
                </div>
                <div class="children-item" v-if="item.children">
                    <div
                        class="children-item-route"
                        v-for="(v, k) in item.children"
                        :key="k"
                        @click="toggleRouter(v, k)"
                        :class="{
                            'child-route-high-light':
                                $route.path == v.routePath,
                        }"
                    >
                        {{ v.routeName }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menuList: [
                { routeName: '驾驶舱', routePath: '/home/cockpit' },
                { routeName: '个人中心', routePath: '/home/userCenter' },
                {
                    routeName: '用户列表',
                    routePath: '/home/userList',
                    children: [
                        {
                            routeName: '新建用户',
                            routePath: '/home/userList/creatUser',
                        },
                    ],
                },
            ],
        };
    },
    methods: {
        toggleRouter(v, i) {
            this.$router.push(v.routePath).catch((err) => err);
        },
    },
};
</script>

<style scoped lang="less">
.left {
    .logo {
        height: 80px;
        border-bottom: 1px solid #191a23;
        h1 {
            text-align: center;
            line-height: 80px;
            font-size: 20px;
            color: #fff;
        }
    }
    .menu {
        .menu-list {
            .menu-item {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0 20px;
                color: #909195;
                cursor: pointer;
                i {
                    margin-right: 10px;
                }
                i,
                span {
                    transition: all 0.5s;
                }
                &:hover {
                    i,
                    span {
                        color: #fff;
                    }
                }
            }
            .add-bgc {
                background-color: #2d8cf0;
                color: #fff;
                font-size: 14px;
            }
            .children-item {
                height: 50px;
                padding: 0 55px;
                line-height: 50px;
                cursor: pointer;
                background: rgb(14, 14, 14);
                .child-route-high-light {
                    color: #fff;
                }
            }
        }
    }
}
</style>
