<!--
 * @Date: 2021-08-14 14:13:24
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 17:49:12
 * @Description: 创建用户
-->
<template>
    <div class="creat-user">
        <Card style="width:100%">
            <Form
                :model="formItem"
                ref="formValidate"
                :label-width="80"
                :rules="ruleValidate"
            >
                <FormItem label="花名:" required prop="nickName">
                    <Input
                        v-model="formItem.nickName"
                        placeholder="请输入创建的花名"
                    ></Input>
                </FormItem>
                <FormItem label="手机号:" required prop="tel">
                    <Input
                        v-model="formItem.tel"
                        placeholder="请输入创建手机号"
                    ></Input>
                </FormItem>
                <FormItem label="密码:" required prop="password">
                    <Input
                        v-model="formItem.password"
                        placeholder="请输入创建密码"
                    ></Input>
                </FormItem>
                <FormItem label="年龄:" prop="age">
                    <InputNumber
                        :max="100"
                        :min="10"
                        v-model="formItem.age"
                        placeholder="请输入年龄"
                    ></InputNumber>
                </FormItem>
                <FormItem label="国家:" prop="nation">
                    <Select v-model="formItem.nation" placeholder="请选择国家">
                        <Option
                            :value="item.value"
                            v-for="item in nationList"
                            :key="item.value"
                            >{{ item.nationName }}</Option
                        >
                    </Select>
                </FormItem>
                <FormItem label="职业:" prop="job">
                    <Select v-model="formItem.job" placeholder="请选择职业">
                        <Option
                            :value="item.value"
                            v-for="item in jobList"
                            :key="item.value"
                            >{{ item.jobName }}</Option
                        >
                    </Select>
                </FormItem>
                <FormItem label="婚姻:" prop="marriage">
                    <RadioGroup v-model="formItem.marriage">
                        <Radio label="yes">已婚</Radio>
                        <Radio label="no">未婚</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem label="宣言:" required prop="declaration">
                    <Input
                        v-model="formItem.declaration"
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 5 }"
                        placeholder="请输入宣言"
                    ></Input>
                </FormItem>
                <FormItem>
                    <Button type="primary" @click="handleSubmit('formValidate')"
                        >提交</Button
                    >
                    <Button
                        style="margin-left: 8px"
                        @click="handleReset('formValidate')"
                        >取消</Button
                    >
                </FormItem>
            </Form>
        </Card>
    </div>
</template>

<script>
import { getAllNation, getAllJob, creatUser } from '@/api/user';
export default {
    data() {
        return {
            formItem: {
                nickName: '',
                tel: '',
                password: '',
                age: 10,
                nation: 1,
                job: 1,
                marriage: 'no',
                declaration: '',
            },
            ruleValidate: {
                nickName: [
                    {
                        required: true,
                        message: '昵称 不能为空',
                        trigger: 'blur',
                    },
                ],
                tel: [
                    {
                        required: true,
                        message: '手机号 不能为空',
                        trigger: 'blur',
                    },
                ],
                password: [
                    {
                        required: true,
                        message: '密码 不能为空',
                        trigger: 'change',
                    },
                ],
                declaration: [
                    {
                        required: true,
                        message: '宣言 不能为空',
                        trigger: 'blur',
                    },
                ],
            },
            nationList: [],
            jobList: [],
        };
    },
    mounted() {
        this.getAllNationList();
        this.getAllJobList();
    },
    methods: {
        async getAllNationList() {
            const res = await getAllNation();
            const { result } = res.data;
            this.nationList = result;
        },
        async getAllJobList() {
            const res = await getAllJob();
            const { result } = res.data;
            this.jobList = result;
        },
        handleSubmit(name) {
            this.$refs[name].validate(async (valid) => {
                if (valid) {
                    const res = await creatUser(this.formItem);
                    console.log(res);
                    const { code,message } = res.data;
                    if (code === 200) {
                        this.$Message.success('创建成功!');
                        this.handleReset(name)
                    } else {
                        this.$Message.error(message);
                    }
                } else {
                    this.$Message.warning('创建失败');
                }
            });
        },
        handleReset(name) {
            this.$refs[name].resetFields();
        },
    },
};
</script>

<style scoped lang="less">
.creat-user {
    /deep/ .ivu-select-dropdown {
        min-width: 100% !important;
    }
}
</style>
