<!--
 * @Date: 2021-07-31 15:55:52
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-01 16:56:33
 * @Description: 柱状图
-->
<template>
    <div class="bar-area">
        <div class="title">
            <h3>访问量</h3>
        </div>
        <div class="bar-echarts" ref="myEcharts"></div>
    </div>
</template>

<script>
import * as echarts from 'echarts';
export default {
    props: {
        propData: {
            type: Object,
            default: {},
        },
    },
    watch: {
        propData: {
            deep: true,
            immediate: false,
            handler(val) {
                if (val) {
                    let { xAxis, yData } = val;
                    this.initEchart(xAxis, yData);
                }
            },
        },
    },
    data() {
        return {
            myEcharts: null,
        };
    },
    methods: {
        initEchart(xAxis, yData) {
            this.myEcharts = echarts.init(this.$refs.myEcharts);
            let option = {
                legend: {
                    show: true,
                    data: ['访问量趋势'],
                    top: 15,
                },
                tooltip: {
                    show: true,
                },
                xAxis: {
                    type: 'category',
                    data: xAxis,
                    axisLabel: {
                        color: '#a9b1bd',
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#a9b1bd',
                        },
                    },
                    axisTick: {
                        alignWithLabel: true,
                    },
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        color: '#a9b1bd',
                    },
                    axisTick: {
                        show: false,
                    },
                    axisLine: {
                        show: false,
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#ccc',
                            width: 0.2,
                        },
                    },
                },
                series: [
                    {
                        data: yData,
                        type: 'bar',
                        name: '访问量趋势',
                        itemStyle: {
                            normal: {
                                color: {
                                    type: 'linear',
                                    x: 0,
                                    y: 0,
                                    x2: 0,
                                    y2: 1,
                                    colorStops: [
                                        {
                                            offset: 0,
                                            color: '#fff', // 0% 处的颜色
                                        },
                                        {
                                            offset: 0.02,
                                            color: '#40b4f8', // 100% 处的颜色
                                        },
                                    ],
                                    global: false, // 缺省为 false
                                },
                            },
                        },
                    },
                ],
            };
            this.myEcharts.resize();
            window.addEventListener('resize', () => {
                this.myEcharts.resize();
            });
            this.myEcharts.setOption(option, true);
        },
    },
    mounted() {},
};
</script>

<style lang="less" scoped>
.bar-area {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
    }
    .bar-echarts {
        height: calc(100% - 40px);
    }
}
</style>
