<!--
 * @Date: 2021-07-31 15:55:52
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-01 16:56:40
 * @Description: 折线图组件
-->
<template>
    <div class="line-area">
        <div class="title">
            <h3>订单量</h3>
        </div>
        <div class="line-echarts" ref="myEcharts"></div>
    </div>
</template>

<script>
import * as echarts from 'echarts';
export default {
    props: {
        propData: {
            type: Object,
            default: {},
        },
    },
    watch: {
        propData: {
            deep: true,
            immediate: false,
            handler(val) {
                if (val) {
                    let { xAxis, yData } = val;
                    this.initEchart(xAxis, yData);
                }
            },
        },
    },
    data() {
        return {
            myEcharts: null,
        };
    },
    methods: {
        initEchart(xAxis, yData) {
            this.myEcharts = echarts.init(this.$refs.myEcharts);
            let option = {
                color: ['#80FFA5'],
                tooltip: {
                    show: true,
                    trigger: 'item',
                },
                grid: {
                    left: '2%',
                    right: '2%',
                    bottom: '3%',
                    containLabel: true,
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxis,
                    axisLabel: {
                        show: true,
                        color: '#a9b1bd',
                    },
                    axisPointer: {
                        show: true,
                    },
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: '#a9b1bd',
                        },
                    },
                    axisTick: {
                        show: false,
                        alignWithLabel: true,
                    },
                },
                yAxis: {
                    type: 'value',
                    axisPointer: {
                        show: false,
                    },
                    axisLabel: {
                        show: true,
                        color: '#a9b1bd',
                    },
                    axisTick: {
                        show: false,
                    },
                    axisLine: {
                        show: false,
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#ccc',
                            width: 0,
                        },
                    },
                },
                series: [
                    {
                        name: '订单量',
                        type: 'line',
                        smooth: true,
                        data: yData,
                        lineStyle: {
                            width: 0,
                        },
                        showSymbol: false,
                        areaStyle: {
                            opacity: 0.8,
                            color: new echarts.graphic.LinearGradient(
                                0,
                                0,
                                0,
                                1,
                                [
                                    {
                                        offset: 0,
                                        color: 'rgba(128, 255, 165)',
                                    },
                                    {
                                        offset: 1,
                                        color: 'rgba(1, 191, 236)',
                                    },
                                ]
                            ),
                        },
                        emphasis: {
                            focus: 'series',
                        },
                    },
                ],
            };
            this.myEcharts.resize();
            window.addEventListener('resize', () => {
                this.myEcharts.resize();
            });
            this.myEcharts.setOption(option, true);
        },
    },
    mounted() {},
};
</script>

<style lang="less" scoped>
.line-area {
    height: calc(50% - 5px);
    background: #fff;
    border-radius: 5px;
    .title {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
    }
    .line-echarts {
        top: -40px;
        height: 100%;
        padding-bottom: 20px;
    }
}
</style>
