<!--
 * @Date: 2021-11-28 13:23:03
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-11-28 14:30:22
 * @Description: 
-->
<template>
  <div class="map-area">
    <div class="map-echarts" ref="myEcharts"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import chongmingdao from "@/assets/chongmingdao.json";
console.log(chongmingdao);
export default {
  data() {
    return {
      myEcharts: null,
    };
  },
  mounted() {
    this.initEcharts();
  },
  methods: {
    initEcharts() {
      this.myEcharts = echarts.init(document.querySelector(".map-echarts"));
      echarts.registerMap("崇明岛", chongmingdao, {}); //xicheng england
      var option = {
        tooltip: {
          trigger: "item",
          formatter: "{b}",
        },
        series: [
          {
            name: "崇明岛",
            type: "map",
            mapType: "崇明岛", // maptype要与registerMap第一个参数对应
            aspectScale: 1, //地图长度比
            itemStyle: {
              normal: {
                areaColor: "#4899f1",
              },
              emphasis: {
                areaColor: "#afb4db",
              },
            },
            label: {
              normal: {
                show: true,
                textStyle: {
                  color: "#fff",
                },
              },
              emphasis: {
                show: true,
                textStyle: {
                  color: "#fff",
                },
              },
            },
          },
        ],
      };
      this.myEcharts.resize();
      window.addEventListener("resize", () => {
        this.myEcharts.resize();
      });
      this.myEcharts.on("click", function (params) {
        console.log(params);
      });
      this.myEcharts.setOption(option, true);
    },
  },
};
</script>

<style scoped lang='less'>
.map-area {
  background: #fff;
  padding: 20px;
  /deep/ .map-echarts {
    width: 100%;
    height: 300px;
    /* > div {
      width: 100% !important;
      canvas {
        width: 100% !important;
      }
    } */
  }
}
</style>