<!--
 * @Date: 2021-08-01 14:58:38
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-01 17:36:28
 * @Description: 销售额进度组件
-->
<template>
    <div class="sale-process">
        <div class="title">
            <h3>销售额</h3>
        </div>
        <div class="process-area">
            <h4 class="percent">已完成 :</h4>
            <Progress
                :percent="percent"
                :stroke-width="20"
                status="active"
                text-inside
            />
        </div>
        <div class="total">
            <span>总销售额</span
            ><span class="total-number">
                <CountTo
                    :startVal="0"
                    :endVal="total"
                    :duration="1000"
                    ref="reset"
                ></CountTo
            ></span>
        </div>
    </div>
</template>

<script>
import CountTo from 'vue-count-to';
export default {
    props: {
        propData: {
            type: Object,
            default: {},
        },
    },
    components: {
        CountTo,
    },
    data() {
        return {
            total: 0,
            percent: 0,
        };
    },
    watch: {
        propData: {
            deep: true,
            immediate: false,
            handler(val) {
                if (val) {
                    let { total, percent } = val;
                    this.total = total;
                    this.percent = percent;
                }
            },
        },
    },
    methods : {
        reset() {
        }
    }
};
</script>

<style lang="less" scoped>
.sale-process {
    height: calc(50% - 5px);
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    .title {
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
    }
    .process-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        padding: 0 10px;
        .percent {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
        }
        .ivu-progress {
            width: 100%;
        }
    }
    .total {
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0 10px;
        border-top: 1px solid #ddd;
        padding-top: 5px;
        .total-number {
            font-size: 20px;
        }
    }
}
</style>
