<!--
 * @Description: 
 * @Author: mingxiangxiong
 * @Date: 2021-02-10 17:40:04
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-08-14 14:01:22
-->
<template>
    <div class="home">
        <div class="left">
            <Sider></Sider>
        </div>
        <div class="right">
            <Header></Header>
            <div class="content scorllbar">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Sider from '@/components/sider';
import Header from '@/components/header';
export default {
    data() {
        return {};
    },
    components: {
        Sider,
        Header,
    },
    methods: {
    },
};
</script>

<style lang="less" scoped>
.home {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    .left {
        width: 250px;
        height: 100%;
        background-color: #191a23;
        box-shadow: 2px 0px 7px -1px #ddd;
    }
    .right {
        width: calc(100% - 250px);
        height: 100%;
        .content {
            max-height: calc(100% - 80px);
            overflow: auto;
            padding: 20px;
        }
    }
    .box11 {
        width: 120px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #4db9eb;
        border-radius: 4px;
        background: #2dbdff;
        color: #fff;
        margin: 100px auto;
        cursor: pointer;
    }
}
</style>
