<!--
 * @Description: 
 * @Author: mingxiangxiong
 * @Date: 2021-02-10 17:40:04
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-07-31 15:51:11
-->
<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'app',
};
</script>

<style lang="less" scoped>
#app {
    height: 100%;
    background-color: #f5f7f9;
}
</style>
