<!--
 * @Date: 2021-07-31 15:14:22
 * @LastEditors: 熊明祥
 * @LastEditTime: 2021-11-28 14:44:01
 * @Description: 驾驶舱
-->
<template>
  <div class="cockpit">
    <div class="flex-item first-flex-item">
      <div class="flex-left">
        <BarEcharts :propData="barData"></BarEcharts>
      </div>
      <div class="flex-right">
        <SaleProcess :propData="saleData"></SaleProcess>
        <LineEcharts :propData="lineData"></LineEcharts>
      </div>
    </div>
    <div class="'flex-item">
      <Mapsad></Mapsad>
    </div>
  </div>
</template>

<script>
import BarEcharts from "@/components/cockpit/bar";
import SaleProcess from "@/components/cockpit/process";
import LineEcharts from "@/components/cockpit/line";
import Mapsad from "@/components/cockpit/map";
import { getBarData, getLineData, getSaleData } from "@/api/index";
export default {
  data() {
    return {
      barData: {},
      lineData: {},
      saleData: {},
      socket: null,
    };
  },
  components: {
    BarEcharts,
    SaleProcess,
    LineEcharts,
    Mapsad,
  },
  methods: {
    async getBarData() {
      let res = await getBarData();
      if (!res.data.result) return;
      let { result } = res.data;
      this.barData = result;
    },
    async getLineData() {
      let res = await getLineData();
      if (!res.data.result) return;
      let { result } = res.data;
      this.lineData = result;
    },
    async getSaleData() {
      let res = await getSaleData();
      if (!res.data.result) return;
      let { result } = res.data;
      this.saleData = result;
    },
  },
  mounted() {
    this.getBarData();
    this.getLineData();
    this.getSaleData();
    if (this.$ENV !== "development") {
      this.socket = new WebSocket("ws://localhost:3000");
      this.socket.addEventListener("open", (e) => {
        this.socket.send(JSON.stringify("请求连接ws"));
      });
      this.socket.addEventListener("message", (data) => {
        let { barData, lineData, saleData } = JSON.parse(data.data);
        this.barData = barData;
        this.lineData = lineData;
        this.saleData = saleData;
      });
    }
  },
};
</script>

<style lang="less" scoped>
.cockpit {
  .flex-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .flex-left,
    .flex-right {
      width: calc(50% - 5px);
      height: 400px;
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 998px) {
  .cockpit {
    .flex-item {
      .flex-left,
      .flex-right {
        width: 100%;
      }
    }
  }
}
</style>
